* {
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: rgb(162, 162, 162);
}

nav{
    display: flex;
    height: 65px;
    background: #711F8D;
    align-items: center;
    padding: 20px;
}

.nav--img{
    width: 32px;
    margin-right: 10px;
}

nav span{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    margin-right: auto;
}

h3 {
    font-size: 0.75rem;
    color: white;
    font-weight: 500;
}

.meme{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display:grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

input {
    font-family: "Karla", sans-serif;
    border: 1px solid #D5D4D8;
    height: 35px;
    border-radius: 5px;
    text-indent: 10px;
}


button{
    font-family: "Karla", sans-serif;
    color: white;
    width: 477px;
    height: 40px;
    background: #711F8D;
    border-radius: 5px;
    border: none;
    grid-column: 1 /-1;
    cursor: pointer;

}